/* Général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Century Gothic', sans-serif;
}
.image{
    text-align: center;
}
/* Header */
header {
    background-color: #333; /* Bleu */
    padding: 20px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar ul li {
    margin-right: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #FFD700; /* Jaune pour hover */
}
.login{
    margin-left: 30px;
}

/* Carrousel */
.carousel-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.info{
    color: #1E90FF;
}
.carousel {
    width: 100%;
    height: 100%;
}

.carousel-images {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.carousel-images img:first-child {
    display: block;
}

/* Boutons de navigation */
button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    
}

footer .social-links {
    margin-top: 10px;
}

footer .social-links a {
    margin: 0 15px;
}

footer .social-links img {
    width: 30px;
    height: 30px;
    transition: opacity 0.3s;
}

footer .social-links img:hover {
    opacity: 0.7;
}

/* Responsiveness */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        text-align: center;
    }

    .navbar ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .login-btn {
        width: 100%;
        margin-top: 10px;
    }

    .carousel-images {
        width: 100%;
    }

    .carousel-images img {
        width: 100%;
        height: auto;
    }
}
